
<center>

<h3><b>whee list</b></h3>


{{#each model as |list|}}
   {{list.title}}
   <button {{action "deleteItem" list.id}}>Delete</button>
   <br/>
{{/each}}


{{input value=title placeholder="New Item"}}
<button {{action "publishItem"}}>Add</button>
{{outlet}}

</center>