
<center>

<h3><b>whee list</b></h3>


{{#each model as |item|}}
   {{item.title}}
   <button {{action "deleteItem" item.id}}>Delete</button>
   <br/>
{{/each}}


{{input value=title placeholder="New Item"}}
<button {{action "publishItem" model.id}}>Add</button>
{{outlet}}

</center>