<div class="container">

  <div id="list-title">
    {{input value=listName placeholder=listTitle}}
    <button {{action "changeName"}}>Change Name</button>
  </div>


  {{#each elements as |element|}}
    <div id="list-element">
      <div id="element-title">
        <p class="h3">{{element.title}}</p>
      </div>
      <button class="glyphicon glyphicon-trash btn-primary button" {{action "deleteElement" element.id}}></button>
    </div>
  {{/each}}


  <div id="add-element">
    {{input value=title placeholder="New Item" class="form-inline"}}
    <button class="btn-primary button" {{action "publishList"}}>Add</button>
  </div>
  {{outlet}}

</div>