<div class="container">
  
  <h3 id="list-title">List Name: {{model.title}}</h3>

  {{#each model.items as |item|}}
    <div id="list-element">
      <div id="element-title">
        <p class="h4">{{item.title}}</p>
      </div>
      <button class="glyphicon glyphicon-check btn-outline-primary button" {{action "deleteItem" item}}/>
    </div>
  {{/each}}

  <div id="add-element">
    {{input value=title placeholder="New Item" class="form-inline"}}
    <button class="glyphicon glyphicon-plus btn-outline-primary button" {{action "publishItem" model}}/>
  </div>
  {{outlet}}

</div>